@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img width="100%" src="/Images/OCP Logo.PNG" alt="OCP Logo" asp-append-version="true"/>
    <p>Login or Register</p>
</div>
